// Set global variable to check if foundation has been applied globally
$flint__foundation: "nonexistant" !global;

// Gather all keys, breakpoints and column counts
$flint__all__keys: get-all-keys() !global;
$flint__all__breakpoints: get-all-breakpoints() !global;
$flint__all__columns: get-all-columns() !global;

// Keep track of all instances of mixin
$flint__instance-count: 0 !global;
$flint__instances: () !global;

// Font size for em calculation
$flint__base-font-size: 16px !global;
